@media (prefers-color-scheme: light) {
  :root {
    --el-color-primary:#1890ff !important;
    --main-color-text:#000;
    --main-color-bg:#fff;
    --main-color-hover-bg: #fff;
    --main-aside-width:200px;
    --main-color-base: #812eb1;
    --main-color-danger:#F56C6C;
    --main-color-normal:#fff;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --el-color-primary:#1890ff!important;
    --main-color-text:#000;
    --main-color-bg:#fff;
    --main-color-hover-bg: #fff;
    --main-aside-width:200px;
    --main-color-base: #812eb1;
    --main-color-danger:#F56C6C;
    --main-color-normal:#fff;
  }
}


