*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family:
    system-ui,
    -apple-system;
}
body {
  background-color: #f2f3f5 !important;
}
.ant-modal div[aria-hidden='true'] {
  display: none !important;
}
